.sidebarOption {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 2.5rem;
  color: grey;
  transition: 150ms color ease-in;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption__icon {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.sidebarOption > p {
  margin-top: 0.625rem;
  margin-left: 1.25rem;
  font-size: 1rem;
}
