.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  padding-left: 0.625rem;
  padding-right: 0.25rem;
  min-width: 14.5rem;
  height: 100vh;
  color: white;
  background-color: #040404;
}

.sidebar__logo {
  height: 4.25rem;
  padding: 0.625rem;
  margin-right: auto;
}

.sidebar__title {
  margin-left: 0.625rem;
  padding: 0.25rem;
  font-size: 0.8rem;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 0.625rem auto;
}
